<!DOCTYPE html>
<html lang="en">

{% include 'includes/head.html' with title='home' %}

<body>

    {% include 'includes/navbar.html' %}

    {% block facts %}
    {%  endblock  %}

    {% block about %}
    {%  endblock  %}

    {% block features %}
    {%  endblock  %}

    {% block services %}
    {%  endblock  %}

    {% block quotes %}
    {%  endblock  %}

    {% block testimonials %}
    {%  endblock  %}

    {% block team %}
    {%  endblock  %}

    {% block blog %}
    {%  endblock  %}

    {% block vendor %}
    {%  endblock  %}

    {% block contact %}
    {%  endblock  %}


{% include 'includes/footer.html' %}

</body>

</html>